//color
$primary-color: #1391e6;
$secondary-color: #f8f8f8;
$accent-color: #0060a0;
$black: #393939;
$white: #ffffff;

// オリジナルフォント読み込み
// public/fonts/ にフォントファイルを格納
// @font-face {
//   font-family: "font-name";
//   src: url("../fonts/") format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }

// font-family
$ff-base: "M PLUS Rounded 1c", sans-serif;
$ff-en: "M PLUS Rounded 1c", sans-serif;

// font
$fz-base: 1rem;
$fw-base: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$lh-base: 1;

// px to rem計算
@function rem($font-size-px) {
  @return calc($font-size-px / 16 * 1rem);
}

//clamp関数
@function cal-clamp($min, $max, $min-view-port: 768, $max-view-port: 1000) {
  $variable-part: calc(($max - $min) / ($max-view-port - $min-view-port));
  $constant: calc(($max - $max-view-port * $variable-part) / 16);
  $min-rem: calc($min / 16 * 1rem);
  $max-rem: calc($max / 16 * 1rem);
  $variable-rem: calc($constant * 1rem);
  $variable-vw: calc(100 * $variable-part * 1vw);

  @return clamp($min-rem, $variable-rem + $variable-vw, $max-rem);
}

// 重なり順の定義
$z-indexes: (
  header: 4,
  drawer-icon: 3,
  drawer-content: 2,
);

@function z-index($key) {
  @return map-get($z-indexes, $key);
}
